<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>com.mypackage.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>com.mypackage.Inbox</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Compose</servlet-name>
    <servlet-class>com.mypackage.Compose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sent</servlet-name>
    <servlet-class>com.mypackage.Sent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.mypackage.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/Inbox</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Compose</servlet-name>
    <url-pattern>/Compose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sent</servlet-name>
    <url-pattern>/Sent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>com.cookies.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>First</servlet-name>
    <servlet-class>com.cookies.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyServlet2</servlet-name>
    <servlet-class>com.urlrewriting.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <url-pattern>/urlrewriting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>First2</servlet-name>
    <servlet-class>com.urlrewriting.First2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First2</servlet-name>
    <url-pattern>/First2/*</url-pattern>
  </servlet-mapping>
  
  	<servlet>
        <servlet-name>First3</servlet-name>
        <servlet-class>com.hidden.form.field.First3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First3</servlet-name>
        <url-pattern>/First3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Second</servlet-name>
        <servlet-class>com.hidden.form.field.Second</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/Second</url-pattern>
    </servlet-mapping>
    
</web-app>